.content {
  padding: 12px;
  margin-top: 60px;
}

.logo {
  font-size: 4em;
  margin-top: -0.35em;
}

text {
  font-size: 0.3em !important;
  margin-left: 1em;
}

NavDropdown {
  background-color: red !important;
  color: coral;
}
