.unmasked {
  /* max-width: 60%; */
  align-items: center;
  justify-content: center;
  margin: auto;
}
.unmaskedcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.cards {
  display: flex;
  flex-direction: row !important;
  /* flex-wrap: wrap !important; */

  /* -ms-grid-template-columns: repeat(3, 200px);
  -ms-grid-auto-rows: auto; */

  min-width: 100%;
  align-items: center;
  justify-content: center;
  margin: 3em;
  margin-left: 25vw;
}

/* sx= {
   {
    maxwidth: 275;
  }
} */

.card {
  border-radius: 4px;
}

.cardmedia {
  object-fit: cover;
}

.cardmedia {
  object-fit: scale-down;
}
