.content {
  padding: 12px;
  margin-top: 60px;
  color: #fff;
  font-size: 1em;
}

.logo {
  font-size: 2em;
}

text {
  font-size: 1.3em;
  margin-left: 0.4em;
}

.navitem {
  font-size: 1.65em;
  margin-top: 0.03em;
}
