/* .navbar {
  display: flex;
  flex-direction: row;
}

.icon {
  font-size: 2.5em;
  color: #fff;
  padding-left: 0.25em;
  padding-bottom: 0.1em;
}

.brand {
  color: #fff !important;
  font-size: 1.5em;
}

.logo {
  padding-left: 1em;
}

.link {
  padding-left: 5em;
  max-width: 3em;
  font-size: 1em;
} */

Navbar {
  z-index: 199;
}
.content {
  padding: 12px;
  margin-top: 60px;
  color: #fff;
  font-size: 1em;
}

.logo {
  font-size: 2em;
}

text {
  font-size: 1.3em;
  margin-left: 0.4em;
}

.navitem {
  font-size: 1.65em;
  margin-top: 0.03em;
}
